<ion-tabs>

  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="feed">
      <ion-icon name="bed"></ion-icon>
      <ion-label>Beds</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="messages">
      <ion-icon name="leaf"></ion-icon>
      <ion-label>O<sub>2</sub></ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="notifications">
      <ion-icon name="person-add"></ion-icon>
      <ion-label>Join us</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="settings">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>